html
    head
        title City LINK | nodejsera
        link(href="public/style.css", rel="stylesheet")

    body
     .main.container
      h1= "City Link!"
      p To get API data : 
        a(href="/get_data") Click Here
      p To Process CSV file : 
        a(href="/process_data") Click Here