html
    head
        title City LINK | nodejsera
        link(href="public/style.css", rel="stylesheet")

    body
        .main.container
         div
           h2 #{(response.message ? response.message : "")}
           if response.flag == 1
            p
             To Download the file  
             a(href='/download/#{response.timestamp}') Click Here

           div
            a(href="/index") Back